version: "3.8"

services:
  tridorian-test:
    container_name: tridorian-test
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    command: uv run adk web --port 8000 --host 0.0.0.0
    restart: unless-stopped
